absl-py==1.0.0
argcomplete==1.12.3
argon2-cffi==21.1.0
astor==0.8.1
attrs==21.2.0
audioread==2.1.9
backcall==0.2.0
bleach==4.1.0
blis==0.2.4
cachetools==4.2.4
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.7
cloudpickle==2.0.0
ConfigSpace==0.4.20
cycler==0.11.0
cymem==2.0.6
Cython==0.29.24
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
entrypoints==0.3
future==0.18.2
gast==0.2.2
gensim==3.8.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.1
h5py==2.9.0
hyperopt==0.2.6
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
ipykernel==6.5.0
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.0
jieba==0.39
jieba-fast==0.53
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
liac-arff==2.5.0
librosa==0.7.1
lightgbm==2.2.3
llvmlite==0.31.0
Markdown==3.3.5
MarkupSafe==2.0.1
matplotlib==3.4.0
matplotlib-inline==0.1.3
mistune==0.8.4
mock==4.0.3
murmurhash==1.0.6
nbclient==0.5.8
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.4.5
notebook==6.4.5
numba==0.48.0
numpy==1.18.1
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.2
pandas==0.24.2
pandocfilters==1.5.0
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
plac==0.9.6
playsound==1.2.2
polyglot==16.7.4
preshed==2.0.1
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.7.1
psutil==5.6.6
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.1.1
pyzmq==22.3.0
qtconsole==5.2.0
QtPy==1.11.2
requests==2.26.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.7.2
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.8.0
six==1.16.0
smart-open==5.2.1
SoundFile==0.10.3.post1
spacy==2.1.6
srsly==1.0.5
tensorboard==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
thinc==7.0.8
torch==1.3.1
torchvision==0.4.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.0.0
urllib3==1.26.7
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wrapt==1.13.3
xgboost==0.90
zipp==3.6.0
