aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
argcomplete==2.0.0
async-timeout==4.0.2
attrs==22.1.0
audioread==3.0.0
auto-sklearn==0.14.7
boto==2.49.0
cachetools==5.2.0
certifi==2022.6.15.1
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
ConfigSpace==0.4.21
crcmod==1.7
cryptography==38.0.1
Cython==0.29.32
dask==2022.9.0
decorator==5.1.1
distributed==2022.9.0
distro==1.7.0
emcee==3.1.2
fasteners==0.17.3
frozenlist==1.3.1
fsspec==2022.8.2
gcs-oauth2-boto-plugin==3.0
google-apitools==0.5.32
google-auth==2.11.0
google-reauth==0.1.1
gsutil==5.13
HeapDict==1.0.1
httplib2==0.20.4
idna==3.3
importlib-metadata==4.12.0
Jinja2==3.1.2
joblib==1.1.0
liac-arff==2.5.0
librosa==0.9.2
llvmlite==0.39.1
locket==1.0.0
MarkupSafe==2.1.1
monotonic==1.6
msgpack==1.0.4
multidict==6.0.2
numba==0.56.2
numpy==1.23.3
oauth2client==4.1.3
packaging==21.3
pandas==1.4.4
partd==1.3.0
Pillow==9.2.0
pooch==1.6.0
psutil==5.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pynisher==0.6.4
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyrfr==0.8.3
python-dateutil==2.8.2
pytz==2022.2.1
pyu2f==0.1.5
PyYAML==6.0
requests==2.28.1
resampy==0.4.1
retry-decorator==1.1.1
rsa==4.7.2
scikit-learn==0.24.2
scipy==1.9.1
six==1.16.0
smac==1.2
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
swig==4.0.2
tblib==1.7.0
threadpoolctl==3.1.0
toolz==0.12.0
torch==1.12.1+cu116
torchaudio==0.12.1+cu116
torchvision==0.13.1+cu116
tornado==6.1
tqdm==4.64.1
typing-extensions==4.3.0
urllib3==1.26.12
xgboost==1.6.1
yarl==1.8.1
zict==2.2.0
zipp==3.8.1
